
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


<form method="post">
    <h1>Change Password for Manager</h1>
    <div class="border p-3 m-4">
        <div class="row pb-2">
            <div class="mb-3">
                <label for="OldPassword">Enter old password</label>
                <input type="password" name="OldPassword" class="form-control" id="OldPassword" placeholder="old password">
                @* <span asp-validation-for="RequestDate" class="text-danger"></span> *@
            </div>

            <div class="mb-3">
                <label for="NewPassword">Enter new password</label>
                <input type="password" name="NewPassword" class="form-control" id="NewPassword" placeholder="new password">
                @* <span asp-validation-for="RequestDate" class="text-danger"></span> *@
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Submit Application</button>
    </div>
</form>