@model List<AttendEase.Models.Attendance>

@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@*
<form asp-controller="Manager" asp-action="ViewEmployeeAttendance" method="get" class="form-inline">
    <div class="form-group">
        <label for="userId">User ID: </label>
        <input type="number" name="userId" id="userId" class="form-control mx-2" required />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>*@


    @if (Model != null && Model.Count > 0)
    {
        <h3>Attendance for @Model.FirstOrDefault()?.User.Name</h3>
    <input type="text" name="inputText" id="searchInput" class="form-control" placeholder="Search by anything">

    <table id="data-table" class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.AttendanceStatus</td>
                        <td>@item.AccRejDate?.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No attendance records found for the specified user.</p>
    }

<script>
document.addEventListener('DOMContentLoaded', function() {
    var input = document.getElementById('searchInput');
    var table = document.getElementById('data-table');
    input.addEventListener('input', function() {
      var filter = input.value.toLowerCase();
      var rows = table.getElementsByTagName('tr');
      for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');
        var match = false;
        for (var j = 0; j < cells.length; j++) {

          var cellText = cells[j].textContent || cells[j].innerText;
          if (cellText.toLowerCase().indexOf(filter) > -1) {
            match = true;
            break;
          }
        }
        rows[i].style.display = match ? '' : 'none';
      }
    });
  });
</script>