@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}

@* <h2>Change Password for Developer</h2> *@


@{
    bool success = TempData["SuccessMessage"] != null;
    string successMessage = "Success";
    if (success)
    {
        successMessage = TempData["SuccessMessage"].ToString();
    }

    bool failure = TempData["FailureMessage"] != null;
    string failureMessage = "Success";
    if (failure)
    {
        failureMessage = TempData["FailureMessage"].ToString();
    }
}

@if (success)

{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">

        Swal.fire({

            title: 'Success!',

            text: '@successMessage',

            icon: 'success',

            confirmButtonText: 'OK'

        });
    </script>

}

@if (failure)

{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">

        Swal.fire({

            title: 'Failed!',

            text: '@failureMessage',

            icon: 'error',

            confirmButtonText: 'Close'

        });
    </script>

}


<form method="post">
    <h1>Change Password for Developer</h1>
    <div class="border p-3 m-4">
        <div class="row pb-2">
            <div class="mb-3">
                <label for="OldPassword">Enter old password</label>
                <input type="password" name="OldPassword" class="form-control" id="OldPassword" placeholder="old password">
            </div>

            <div class="mb-3">
                <label for="NewPassword">Enter new password</label>
                <input type="password" name="NewPassword" class="form-control" id="NewPassword" placeholder="new password">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Submit Application</button>
    </div>
</form>